<!-- <%- include("test")%> -->
<!-- <% const a=10;
%>
<%=a%>
<% var num =10 %>
<%=num%>
<% if(a >0) {%>
    <h2> <%= a%> là số nguyên dương  </h2>
<%}%>
<% for(let i =1; i<=10; i++) {%>
   <%=i%>
<%}%> -->

<h1>Test View EJS - <%=data%></h1>
<h2><%=data2%></h2>